.ll-nam {
  /* words */
  color: #f0dde6;
}
.ll-num {
  /* numbers */
  color: #468dd4;
}
.ll-str {
  /* strings */
  color: #1b9e9e;
}
.ll-rex {
  /* regular expressions */
  color: #e06a26;
}
.ll-pct {
  /* operators, punctation */
  color: #f0dde6;
}
.ll-key {
  /* keywords */
  color: #d46a84;
  font-weight: bold;
}
.ll-com {
  /* comments */
  color: #d46a84;
  font-style: italic;
}
