.ll-nam {
  /* words */
  color: #F3F3F3;
}
.ll-num {
  /* numbers */
  color: #ffb378;
}
.ll-str {
  /* strings */
  color: #ffe9aa;
}
.ll-rex {
  /* regular expressions */
  color: #63f2f1;
}
.ll-pct {
  /* operators, punctation */
  color: #63f2f1;
}
.ll-key {
  /* keywords */
  color: #ff8080;
  font-weight: bold;
}
.ll-com {
  /* comments */
  color: #65b2ff;
  font-style: italic;
}