@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  overflow: hidden;
}

#title {
  font-family: "Fredoka One", cursive;
  font-size: 6vmax;
  color: whitesmoke;
  margin-top: 5vmin;
  margin-left: 5vmin;
  text-shadow: 0.75vmin 0.75vmin  #000033;
}

article {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5vmax;
  color: whitesmoke;
  margin-left: 5vmin;
  margin-top: 1vmin;
  text-shadow: 2px 2px  #000033;
}

#container {
  position: relative;
}

canvas, #overlay {
  position: fixed;
}