@import "../font/cascadia/stylesheet.css";

body {
  background-color: #1e1c31;
  font-family: "Cascadia", monospace;
  color: #f3f3f3;
  font-size: 17px;
  line-height: 1.6;
}

a {
  color: #d7afff;
  text-decoration: none;
}

a:hover {
  color: #d7afff;
  text-decoration: underline;
}

::selection {
  color: #1e1c31;
  background: #87ffff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em;
  max-width: 800px;
}

.content {
  margin-left: 2em;
}

.blocks-half {
  display: flex;
  flex-wrap: wrap;
}

.blocks-half,
.blocks {
  flex: 1 0 42%;
  padding-right: 8%;
}

.highlight {
  background-color: #87ffff;
  color: #1e1c31;
  display: inline-block;
  padding: 0px 5px;
}

.quote {
  background-color: #1e1c31;
  color: #87ffff;
  display: inline-block;
  padding: 0px 20px;
}

.code-block-title {
  background-color: #87ffff;
  color: #1e1c31;
  display: inline-block;
  padding: 0 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.error {
  background-color: #1e1c31;
  color: #1e1c31;
  display: inline-block;
  padding: 0 5px;
}

.uwu {
  background-color: #1e1c31;
  color: hotpink;
  display: inline-block;
  padding: 0 20px;
}

h1 {
  margin-bottom: 0;
  font-size: 33pt;
  color: #f3f3f3;
}

h2 {
  margin-bottom: 0;
  font-size: 20pt;
  color: #f3f3f3;
}

h3 {
  margin-bottom: 0;
  font-size: 18pt;
  color: #ffe9aa;
}

a:hover > h3 {
  color: #ffe9aa;
  text-decoration: underline;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 7.5px solid #a0e3ff;
}

.nav .right {
  display: flex;
  align-items: center;
}

.nav .right .link {
  display: inline-block;
  margin-left: 2em;
  font-weight: bold;
}

@media only screen and (max-width: 850px) {
  h1 {
    font-size: 36pt;
    margin-left: 0.5em;
  }

  h2 {
    font-size: 20pt;
    margin-left: 1em;
  }

  h3 {
    font-size: 18pt;
  }

  .nav {
    border-bottom: 7.5px solid #a0e3ff;
  }

  .nav .right .link {
    margin-left: 0;
    margin-right: 2em;
    margin-top: -1.5em;
    margin-bottom: 0.5em;
  }
}

li:before {
  content: "λ";
  color: #ff8080;
  display: block;
  float: left;
  width: 1.2em;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1.2em;
  text-indent: -1.2em;
}

.code-body pre {
  border-left: 7px solid #87ffff;
  padding: 0;
  margin: 0.5em auto;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
  position: relative;
  width: 100%;
  tab-size: 2;
  word-break: normal;
  user-select: text;
  user-select: text;
  hyphens: none;
}
.code-body pre code {
  color: #87ffff;
  font-size: 18px;
  max-height: 300px;
  line-height: 1.5em;
  display: block;
  background: none;
  border: none;
  padding: 10px 15px;
  font-family: "Cascadia", monospace;
  white-space: pre;
  overflow: auto;
  user-select: text;
  user-select: text;
}
