@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap");

body {
  background-color: #082628;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.6;
}

a {
  color: #66d9ef;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em;
  max-width: 800px;
}

.content {
  margin-left: 2em;
}

.blocks-half {
  display: flex;
  flex-wrap: wrap;
}

.blocks-half,
.blocks {
  flex: 1 0 42%;
  padding-right: 8%;
}

.highlight {
  background-color: #d2b58d;
  color: #082628;
  display: inline-block;
  padding: 0 5px;
}

.code-block-title {
  background-color: #67cd5d;
  color: #ffffff;
  display: inline-block;
  padding: 0 10px;
  margin-top: 10px;
  margin-left: 10px;
}

h1 {
  margin-bottom: 0;
  font-size: 36pt;
  color: #67cd5d;
}

h2 {
  margin-bottom: 0;
  font-size: 20pt;
  color: #ffffff;
}

h3 {
  margin-bottom: 0;
  font-size: 18pt;
  color: #d2b58d;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 10px solid #d2b58d;
}

.nav .right {
  display: flex;
  align-items: center;
}

.nav .right .link {
  display: inline-block;
  margin-left: 2em;
  font-weight: bold;
}

@media only screen and (max-width: 850px) {
  h1 {
    font-size: 36pt;
    margin-left: 0.5em;
    color: #67cd5d;
  }

  h2 {
    font-size: 20pt;
    margin-left: 1em;
    color: #ffffff;
  }

  h3 {
    font-size: 18pt;
    color: #d2b58d;
  }

  .nav .right .link {
    margin-left: 0;
    margin-right: 2em;
    margin-bottom: 0.5em;
  }
}

li:before {
  content: "λ";
  color: #67cd5d;
  display: block;
  float: left;
  width: 1.2em;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1.2em;
  text-indent: -1.2em;
}

.code-body pre {
  border-left: 5px solid #67cd5d;
  padding: 0;
  margin: 0.5em auto;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
  position: relative;
  width: 100%;
  tab-size: 2;
  word-break: normal;
  user-select: text;
  user-select: text;
  hyphens: none;
}
.code-body pre code {
  color: #d2b58d;
  font-size: 18px;
  max-height: 300px;
  line-height: 1.5em;
  display: block;
  background: none;
  border: none;
  padding: 10px 15px;
  font-family: "Roboto Mono", monospace;
  white-space: pre;
  overflow: auto;
  user-select: text;
  user-select: text;
}
