/* Code from https://codepen.io/queenadreena/pen/oKGyYq */

@keyframes wobb {
    0%, 100%   {transform: translateY(0px)}
    25%  {transform: translateY(-5px)}
    75%  {transform: translateY(5px)}
}

.wobble span {
    animation-name: wobb;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 400ms;
    display: inline-block;
    transform: translateY(0px);
}

