$dark-color: #16161d;
$light-color: #fff6ff;
$accent-color: #89029c;
$accent-color-dark: #ec70fd;

$title-font: "Figtree", Arial, sans-serif;
$text-font: "Times New Roman", serif;
$mono-font: "Courier New", monospace;
