@media only screen and (max-width: 800px) {
  .section-container {
    flex-direction: column !important;
  }
  html {
    padding: 0;
    padding-bottom: 1rem;
  }
  section.sidebar > nav,
  section.content {
    width: 100%;
    box-shadow: none !important;
  }
}