@use "base";

html {
  padding: 3em 1em;
  line-height: 1.5;
  font-size: 1.25em;

  @media only screen and (max-width: base.$mobile) {
    padding: 0 0 3rem 0;
  }
}

:where(iframe, img, input, video, select, textarea) {
  max-height: 20rem;
  max-width: 100%;
  min-width: 5rem;
  display: block;
  margin: 0 auto;
}

body {
  font-family: base.$text-font;
  background-image: url("images/dania_head.png");
  background-repeat: repeat;
  background-color: base.$bg-color;
  background-attachment: fixed;
  animation: scroll 3s infinite;
  animation-timing-function: linear;
  transform: scale(100%);
  overflow-y: visible;

  .section-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 3.5rem;

    @media only screen and (max-width: base.$mobile) {
      flex-direction: column;
    }
  }
}

nav {
  text-align: right;
  width: max-content;

  .nav-header {
    font-family: base.$title-font;
    font-size: 1.25rem;
    margin-top: 0.8rem;
  }

  @media only screen and (max-width: base.$mobile) {
    text-align: center;
  }
}

ul {
  margin: 0;
  padding: 0;
}

a,
blockquote {
  font-style: italic;
}

pre {
  font-size: 18px;
  padding: 0.5em;
  padding-right: 0;
  border-left: solid base.$accent-color;
}

code {
  word-break: break-word;
  white-space: pre-wrap;
}

blockquote {
  margin: 0;
  border-left: solid base.$accent-color;

  p {
    padding: 15px;
    border-radius: 5px;
  }
}

h1,
h2,
h3 {
  font-family: base.$title-font;
}

h1 {
  margin: 0;
  font-weight: 400;
  font-size: 42pt;

  .--text-font {
    font-size: 47pt;
    font-weight: 300;
  }
}

hr {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid base.$dark-color;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: base.$light-color;
  content: "§";
  padding: 0 5px;
  position: relative;
  top: -18px;
}

figcaption {
  padding: 0.1em;
  padding-left: 0.5em;
  background-color: base.$bg-color;
}

body,
p,
ul,
ol {
  color: base.$dark-color;
}

section.sidebar > nav,
section.content {
  background-color: base.$light-color;
  box-shadow: 12px 12px 0 base.$accent-color;
  height: min-content;

  @media only screen and (max-width: base.$mobile) {
    width: 100% !important;
    box-shadow: unset !important;
  }
}

section.sidebar > nav {
  padding: 1rem 1.3rem;
}

section.content {
  width: 73ch;
  padding: 1rem 2.3rem;
  @media only screen and (max-width: base.$mobile) {
    border-bottom: solid 12px base.$accent-color;
    padding: 1rem 1.5rem;
  }
}

table {
  border-collapse: collapse;
  overflow-x: auto;
  margin: 1.2rem 0;
  width: 100%;

  th,
  td {
    padding: 0.2em 1em;

    img {
      margin: 0.7rem 0;
    }
  }

  th {
    font-family: base.$title-font;
  }

  @media only screen and (max-width: base.$mobile) {
    margin: 0.6rem 0;

    th,
    td {
      padding: 0.1em 0.5em;

      img {
        margin: 0.35rem 0;
      }
    }
  }
}

@media only screen and (max-width: base.$mobile_narrow) {
  table.gallery {
    display: none;
  }
}

thead {
  background-color: base.$accent-color;
  color: base.$light-color;
}

tbody {
  tr:nth-child(odd) {
    background-color: base.$bg-color;
  }

  tr:nth-child(even) {
    background-color: #9b729f;
  }

  tr td:first-child {
    text-align: center;
  }
}

div#logo-image {
  text-align: center;
  padding-bottom: 0.5rem;

  @media only screen and (max-width: base.$mobile) {
    svg {
      width: 100px;
      height: auto;
    }
  }
}

div.footnote-definition {
  margin: 1.3em 0;

  > p {
    padding: 0;
    margin: 0;
  }
}

a:visited,
.--accent-color {
  color: base.$accent-color;
}

svg#kaleidosium-symbol {
  fill: base.$accent-color;
}

.--title-font {
  font-family: base.$title-font;
}

.--text-font {
  font-family: base.$text-font;
}
