$dark-color: #16161d;
$light-color: floralwhite;
$accent-color: #89029c;

$title-font: "Figtree", Arial, sans-serif;
$text-font: "Times New Roman", serif;
$mono-font: "Courier New", monospace;

html {
  padding: 3em 1em;
  line-height: 1.5;
  font-size: 1.25em;
}

body {
  font-family: $text-font;
  background-image: url("images/Dania Head.png");
  background-repeat: repeat;
  background-color: $light-color;
  image-rendering: crisp-edges;

  .section-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 4em;
  }
}

section .content-container {
  width: 70ch;
}

nav {
  text-align: right;
  width: max-content;

  .nav-header {
    font-family: $title-font;
    font-size: 1.25em;
    margin-top: 0.8em;
  }
}

ul {
  margin: 0;
  padding: 0;
}

a,
blockquote {
  font-style: italic;
}

blockquote {
  margin: 0;
  border-left: solid $accent-color;

  p {
    padding: 15px;
    border-radius: 5px;
  }
}

h1,
h2,
h3 {
  font-family: $title-font;
}

h1 {
  margin: 0;
  font-weight: 400;
  font-size: 42pt;
  .--text-font {
    font-size: 47pt;
    font-weight: 300;
  }
}

hr {
  border: none;
  border-top: 1px solid $dark-color;
  color: $dark-color;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: $light-color;
  content: "§";
  padding: 0 5px;
  position: relative;
  top: -18px;
}

p,
ul,
ol {
  color: $dark-color;
}

.--accent-color,
a:visited {
  color: $accent-color;
}

.--title-font {
  font-family: $title-font;
}

.--text-font {
  font-family: $text-font;
}
