{
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte", "@awmottaz/prettier-plugin-void-html"],
  "overrides": [
    { "files": "*.svelte", "options": { "parser": "svelte", "svelteStrictMode": true } }
  ]
}
