@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap");

body {
  background-color: #082628;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.6;
}

a {
  color: #5bd4ed;
}

hr {
  margin: 30px -20px 20px;
  border: 0;
  border-bottom: 15px solid #ccac82;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em;
  max-width: 800px;
}

.content {
  margin-left: 2em;
  margin-right: 2em;
}

.block {
  flex: 1 0 42%;
  padding-right: 8%;
}

.highlight {
  background-color: #ccac82;
  color: #082628;
  display: inline-block;
  padding: 0 5px;
}

h1 {
  font-size: 36pt;
  margin-left: -0.5em;
  margin-bottom: -0.5em;
  color: #7bdb84;
}

h2 {
  font-size: 20pt;
  margin-left: -0.5em;
  color: #ffffff;
}

@media only screen and (max-width: 850px) {
  h1 {
    font-size: 36pt;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    color: #7bdb84;
  }

  h2 {
    font-size: 20pt;
    margin-left: 0.5em;
    color: #ffffff;
  }
}

li:before {
  content: "λ";
  color: #7bdb84;
  display: block;
  float: left;
  width: 1.2em;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1.2em;
  text-indent: -1.2em;
}
