:root {
  --text: #ff6c7a;
  --text-sub: #fafffc;
  --box-bg: #36354d;
  --box-border: #448de7;
  --tile-width: 256px;
  --tile-height: 256px;
  --border-size: 10px;
  --site-font: "JetBrains Mono", "Lucida Console", Monaco, monospace;
}

@keyframes scroll {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: var(--tile-width) var(--tile-height);
  }
}

body,
html {
  height: 100%;
  width: 100%;
  display: grid;
}

body {
  padding: 0px;
  margin: 0px;
  background-image: url("resources/tile.png");
  background-attachment: fixed;
  background-repeat: repeat;
  font-family: var(--site-font);
  animation: scroll 8s infinite;
  animation-timing-function: linear;
  transform: scale(100%);
}

.alt-wrapper {
  margin: auto;
}

.alt-container {
  max-width: 750px;
}

.alt-box {
  color: var(--text);
  background-color: var(--box-bg);
  border: var(--box-border) solid var(--border-size);
  padding: 30px;
  font-size: 20px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.alt-links,
.alt-pages {
  font-size: 18px;
  color: var(--text-sub);
  padding-bottom: 15px;
}

h1 {
  font-size: 45px;
  font-weight: bold;
}

h2 {
  color: #a3c0e6;
  font-weight: normal;
  font-size: x-large;
}

h3 {
  font-size: large;
}

a > .fa-icon {
  font-size: 30px !important;
  padding-left: 5px;
  padding-right: 5px;
  color: #448de7;
}

a {
  color: #2bdb72;
}

div {
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .alt-box {
    border-left: none;
    border-right: none;
    font-size: 30px;
    width: auto;
    padding: 0;
    padding-bottom: 15px;
  }

  .alt-container {
    max-width: 100%;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  figcaption {
    font-size: 25px;
  }
}

.grid-container {
  display: grid;
}

img {
  aspect-ratio: attr(width) / attr(height);
  max-width: 100%;
  height: auto;
}

figcaption {
  color: var(--text-sub);
  margin-top: 8px;
  background: none;
}
