@font-face {
    font-family: 'Cascadia';
    src: url('CascadiaCode-Regular.woff2') format('woff2'),
         url('CascadiaCode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}