@font-face {
    font-family: 'Cascadia';
    src: url('cascadia-webfont.woff2') format('woff2'),
         url('cascadia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}