<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ config.title }} | {{ config.description }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ config.description }}." />
    <meta property="og:title" content="{{ config.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ config.base_url }}" />
    <meta property="og:image" content='{{ get_url(path="favicon.png") }}' />
    <meta property="og:description" content="{{ config.description }}." />

    <link
      rel="icon"
      type="image/x-icon"
      href='{{ get_url(path="favicon.ico") }}'
    />

    <link rel="preload" href='{{ get_url(path="style.css") }}' as="style" />
    <link
      rel="preload"
      href="https://cdn.skypack.dev/sanitize.css"
      as="style"
    />

    <link rel="stylesheet" href='{{ get_url(path="style.css") }}' />
    <link rel="stylesheet" href='{{ get_url(path="dark.css") }}' />

    <link rel="stylesheet" href="https://cdn.skypack.dev/sanitize.css" />
    <link
      rel="stylesheet"
      href="https://cdn.skypack.dev/sanitize.css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.skypack.dev/sanitize.css/reduce-motion.css"
    />

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      rel="stylesheet"
      href="https://fonts.bunny.net/css?family=figtree:300,300i,400,400i,700,700i&display=swap"
    />
  </head>

  <body>
    <div class="section-container">
      <section class="sidebar">
        <nav role="navigation">
          <div class="logo-image">
            <!-- <a href="{{ config.base_url }}"> -->
            <svg
              alt="The Kaleidosium Symbol, A mauveine compass rose symbolising technological progress and a hopeful future"
              width="160px"
              height="160px"
              id="kaleidosium-symbol"
              data-name="kaleidosium-symbol"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1000 1000"
            >
              <path
                d="M54.56,453.64l10.77-3.54A437.66,437.66,0,0,1,450.1,65.33l3.54-10.77L464,23.06,471.31.83A500,500,0,0,0,.83,471.31L23.06,464Z"
              />
              <path
                d="M453.64,945.44l-3.54-10.77A437.66,437.66,0,0,1,65.33,549.9l-10.77-3.54L23.06,536,.83,528.69A500,500,0,0,0,471.31,999.17L464,976.94Z"
              />
              <path
                d="M546.36,54.56l3.54,10.77A437.66,437.66,0,0,1,934.67,450.1l10.77,3.54L976.94,464l22.23,7.31A500,500,0,0,0,528.69.83L536,23.06Z"
              />
              <path
                d="M945.44,546.36l-10.77,3.54A437.66,437.66,0,0,1,549.9,934.67l-3.54,10.77L536,976.94l-7.31,22.23A500,500,0,0,0,999.17,528.69L976.94,536Z"
              />
              <polygon
                points="375.1 706.61 354.88 645.12 293.39 624.9 234.52 741.45 222.26 765.73 210 790 234.27 777.74 258.55 765.48 375.1 706.61"
              />
              <polygon
                points="210 210 222.26 234.27 234.52 258.55 293.39 375.1 354.88 354.88 375.1 293.39 258.55 234.52 234.27 222.26 210 210"
              />
              <polygon
                points="765.48 741.45 706.61 624.9 645.12 645.12 624.9 706.61 741.45 765.48 765.73 777.74 790 790 777.74 765.73 765.48 741.45"
              />
              <polygon
                points="624.9 293.39 645.12 354.88 706.61 375.1 765.48 258.55 777.74 234.27 790 210 765.73 222.26 741.45 234.52 624.9 293.39"
              />
              <polygon
                points="600.52 694.3 623.73 623.73 694.3 600.52 780.37 572.22 937.01 520.71 968.51 510.35 1000 500 968.51 489.64 937.01 479.29 780.37 427.78 694.3 399.48 623.73 376.27 600.52 305.7 572.22 219.63 520.71 62.99 510.35 31.49 500 0 489.65 31.49 479.29 62.99 427.78 219.63 399.48 305.7 376.27 376.27 305.7 399.48 219.63 427.78 62.99 479.29 31.49 489.64 0 500 31.49 510.35 62.99 520.71 219.63 572.22 305.7 600.52 376.27 623.73 399.48 694.3 427.78 780.37 479.29 937.01 489.65 968.51 500 1000 510.35 968.51 520.71 937.01 572.22 780.37 600.52 694.3"
              />
            </svg>
            <!-- </a> -->
          </div>
          <hr />
          <!-- <button id="menu-toggle" class="menu-toggle">Menu</button> -->
          <div id="nav-links" class="nav-links collapsed">
            <a class="nav-element" href="/">Home</a>
            <ul>
              <li class="nav-header">Creations</li>
              <li class="nav-element">
                <a href="{{ get_url(path='@/notebook/_index.md') }}"
                  >Notebook</a
                >
              </li>
              <!-- <li class="nav-element">
                <a href="/">Programming</a>
              </li> -->
              <li class="nav-element">
                <a href="{{ get_url(path='@/originalcharacters/_index.md') }}"
                  >Original Characters</a
                >
              </li>
            </ul>
            <ul>
              <li class="nav-header">Info</li>
              <li class="nav-element">
                <a href="{{ get_url(path='@/about/_index.md') }}">About</a>
              </li>
              <!-- <li class="nav-element">
                <a href="/">Links and Contact</a>
              </li> -->
            </ul>
          </div>
        </nav>
      </section>
      <section class="content">
        <div class="content-container">{% block content %} {% endblock %}</div>
      </section>
    </div>
  </body>
</html>
