<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ config.description }}</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}" />
    <link href="https://cdn.skypack.dev/sanitize.css" rel="stylesheet" />
    <link rel="preconnect" href="https://api.fonts.coollabs.io" crossorigin>
    <link
    href="https://api.fonts.coollabs.iocss2?family=Figtree:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
    rel="stylesheet">
  </head>

  <body>
    <div class="section-container">
      <section class="sidebar">
        <nav role="nav">
          <!-- <button id="menu-toggle" class="menu-toggle">Menu</button> -->
          <div id="nav-links" class="nav-links collapsed">
            <a href="/">Home</a>
            <ul>
              <li class="nav-header">Creations</li>
              <li>
                <a href="/">Essays</a>
              </li>
              <li>
                <a href="/">Programming</a>
              </li>
              <li>
                <a href="/">Original Characters</a>
              </li>
            </ul>
            <ul>
              <li class="nav-header">Info</li>
              <li>
                <a href="/">About</a>
              </li>
              <li>
                <a href="/">Links and Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </section>
      <section>
        <div class="content-container">{% block content %} {% endblock %}</div>
      </section>
    </div>
  </body>
</html>
