{% extends "base.html" %}

{% block content %}
<h1 id="Title">Kaleidos<span class="text-font"><em>ium</em></span></h1>
<p><span class="title-font"><strong>/kəˈlaɪdəziəm/</strong></span> [kuh-lie-doe-sium]</p>
<p class="title-font"><em>noun</em></p>
<blockquote>
  <p>A chemical element with symbol Kal and atomic number φ. It is the element of beautiful forms.</p>
</blockquote>
<hr>
<p>Greetings! My name is <span class="title-font"><strong>Dania Rifki</strong></span>, though my username is <span
    class="title-font"><em>Kaleidosium</em></span> (alternatively
  <em><span class="title-font">AtomicNumberPhi</span></em> on some platforms). I'm a trans gal with origins in Jakarta,
  Indonesia. I mainly do
  computer science-related work, but I have an interest in basically everything about the world.
</p>
<p>This is my personal website; It is where I: Talk about my thoughts that cannot fit in microblogging platforms, List
  and showoff my proudest personal creations, Aggregate links to my profiles on other websites, et cetera.</p>
<p>That should be it for this short introduction, farewell fellow netizen!</p>
{% endblock content %}