$dark-color: #16161d;
$light-color: #ffffff;

// c89dcc 9b729f
$bg-color: #c89dcc;
// 5e3963 8a628d
$bg-color-dark: #5e3963;

$accent-color: #89029c;
$accent-color-dark: #ee7efd;

$accent-font: "Times New Roman", Times, serif;
$title-font: "Figtree", Arial, sans-serif;
$text-font: "Nunito", sans-serif;

$mobile: 1000px;
$mobile_narrow: 450px;

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    // Background Image Size
    background-position: 148px 170px;
  }
}