* {
  border-color: inherit;
}
*,
::after,
::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  flex-shrink: 1;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
}
body {
  margin: 1em;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0px;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}
body,
html {
  height: 100%;
}
body {
  font-size: 1rem;
  line-height: 1.375;
  user-select: none !important;
}
body,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
    sans-serif;
}
body,
input,
textarea {
  font-size: 16px;
}
.button,
.card,
.card-block:not(.multiple),
.card-footer:not(.multiple),
.card-header:not(.multiple),
.centerer,
.container,
.embed,
.icons,
.infobar,
.label,
.section-center,
.section-left,
.section-right,
.sections,
.select,
.spacer,
.tagbox,
.widget,
address,
dl,
fieldset,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i.icon,
img,
input,
label,
ol,
p,
pre,
textarea,
ul {
  position: relative;
  margin: 0px 0px 0.625rem;
}
.button:last-child,
.card-block:last-child:not(.multiple),
.card-footer:last-child:not(.multiple),
.card-header:last-child:not(.multiple),
.card:last-child,
.centerer:last-child,
.container:last-child,
.embed:last-child,
.icons:last-child,
.infobar:last-child,
.label:last-child,
.section-center:last-child,
.section-left:last-child,
.section-right:last-child,
.sections:last-child,
.select:last-child,
.spacer:last-child,
.tagbox:last-child,
.widget:last-child,
address:last-child,
dl:last-child,
fieldset:last-child,
footer:last-child,
form:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
header:last-child,
i.icon:last-child,
img:last-child,
input:last-child,
label:last-child,
ol:last-child,
p:last-child,
pre:last-child,
textarea:last-child,
ul:last-child {
  margin-bottom: 0px;
}
* {
  transition: opacity 0.15s ease 0s;
}
.xlarge,
h2 {
  font-size: 1.5em;
}
.xxlarge,
h1 {
  font-size: 1.68176em;
}
code {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  background-color: rgba(0, 0, 0, 0.075);
  padding: 0.09em 0.18em;
  border-radius: 0.375em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
}
dd,
dl,
ol,
ul {
  padding-left: 1.25rem;
}
p {
  word-break: break-word;
  hyphens: auto;
  max-width: 100%;
  overflow-wrap: break-word;
}
p > * {
  margin-bottom: 0px !important;
}
.theme-light .preview {
  background-color: rgb(255, 255, 255);
  border-color: rgb(230, 229, 229);
  color: rgb(31, 31, 31);
}
.theme-light .preview h1,
.theme-light .preview h2,
.theme-light .preview h3,
.theme-light .preview h4,
.theme-light .preview h5,
.theme-light .preview h6 {
  border-color: rgb(234, 236, 239);
}
.theme-light .preview h1,
.theme-light .preview h2,
.theme-light .preview h3,
.theme-light .preview h4,
.theme-light .preview h5 {
  color: inherit;
}
.theme-light .preview code {
  background-color: rgba(27, 31, 35, 0.05);
}
.theme-light .preview li code,
.theme-light .preview p code,
.theme-light .preview table code {
  background-color: rgba(27, 31, 35, 0.05) !important;
  color: rgb(31, 31, 31) !important;
}
.preview code,
.preview pre {
  border-radius: 3px;
  cursor: text;
  direction: ltr;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 85%;
  hyphens: none;
  line-height: 1.4;
  margin: 1em 0px;
  overflow: auto;
  padding: 1.2em;
  tab-size: 2;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
}
.preview li code,
.preview p code,
.preview table code {
  margin: 0px;
  border-radius: 3px;
  padding: 0.2em 0px;
  font-size: 85%;
}
.preview li code::after,
.preview li code::before,
.preview p code::after,
.preview p code::before,
.preview table code::after,
.preview table code::before {
  letter-spacing: -0.2em;
  content: ' ';
}
.preview {
  font-size: 16px;
  line-height: inherit;
  user-select: text !important;
  padding: 1.25rem !important;
}
.preview > :first-child {
  margin-top: 0px !important;
}
.preview > :last-child {
  margin-bottom: 0px !important;
}
.preview blockquote,
.preview dl,
.preview ol,
.preview p,
.preview pre,
.preview table,
.preview ul {
  margin-top: 0px;
  margin-bottom: 16px;
}
.preview h1,
.preview h2,
.preview h3,
.preview h4,
.preview h5,
.preview h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.preview h1 {
  font-size: 2em;
}
.preview h1,
.preview h2 {
  padding-bottom: 0.3em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.preview h2 {
  font-size: 1.5em;
}
.preview ol,
.preview ul {
  padding-left: 2em;
}
.preview li > p {
  margin-top: 16px;
}
.preview li + li {
  margin-top: 0.25em;
}
.preview code,
.preview pre {
  font-size: 85%;
  border-radius: 3px;
}
.preview code {
  padding: 0.2em 0.4em;
  margin: 0px;
}
.preview li code,
.preview p code,
.preview table code {
  padding: 0.2em !important;
}
